<div class="header">
    <span>Where are your Friends?</span>
    <div class="btn-group" ng-model="button.place" bs-radio-group>
        <label class="btn btn-default">
            <input type="radio" class="btn btn-default" value="location">Location</label>
        <label class="btn btn-default">
            <input type="radio" class="btn btn-default" value="hometown">Hometown</label>
    </div>
    <button type="button" class="btn btn-default" ng-show="friendLists" ng-model="selectedList" ng-options="list.id as list.name for list in friendLists" bs-select>
        Action
        <span class="caret"></span>
    </button>
</div>
<google-map center="map.center" zoom="map.zoom" draggable="true">
    <markers models="markers" coords="'self'" click="'onClicked'" icon="'icon'" fit="true">
        <windows show="showWindow" closeClick="'closeClick'">
            <div>
                hi
            </div>
        </windows>
    </markers>
</google-map>